## Устанавливаем библиотеку для работы с базой данной MySQL

In [1]:
!pip install pymysql

Requirement already satisfied: pymysql in c:\programdata\anaconda3\lib\site-packages (1.0.2)

## Импортируем библиотеку для работы

In [2]:
import pymysql

## Прописываем наши данные для подкючения к БД

In [3]:
host = "127.0.0.1"
user = "root"
password = "05022003"
db_name = "test"

## Основная ячейка выполнения кода

In [4]:
try:
    connection = pymysql.connect(
        host=host,
        port=3306,
        user=user,
        password=password,
        database=db_name,
        cursorclass=pymysql.cursors.DictCursor
    )
    print("Удалось подключится к БД")
    print("#" * 87)
    
    
    try:
        with connection.cursor() as cursor:
            create_table = "CREATE TABLE users (id int AUTO_INCREMENT," \
                           "name varchar(32)," \
                           "password varchar(32)," \
                           "email varchar(32), PRIMARY KEY(id));"
            cursor.execute(create_table)
            print("Таблица создана")

#         #insert data
#         with connection.cursor() as cursor:
#             insert_query = "INSERT INTO users (name, password, email) VALUES"\
#                             "('Anna', 'qwerty','anna@gmail.com');"
#             cursor.execute(insert_query)
#             connection.commit()
            
#         with connection.cursor() as cursor:
#             insert_query = "INSERT INTO users (name, password, email) VALUES"\
#                             "('Gomer', 'simpsons','gomer@yandex.ru');"
#             cursor.execute(insert_query)
#             connection.commit()
            
#         with connection.cursor() as cursor:
#             insert_query = "INSERT INTO users (name, password, email) VALUES"\
#                             "('Antuan', 'samerbym04021985','bigiq@gmail.com');"
#             cursor.execute(insert_query)
#             connection.commit()

#           #update data
#           with connection.cursor() as cursor: 
#             update_query = "UPDATE users SET password = 'ilovebeer' WHERE name = 'Gomer';"
#             cursor.execute(update_query)
#             connection.commit()
            
#           #delete data
#           with connection.cursor() as cursor: 
#             delete_query = "DELETE FROM users WHERE id = 3;"
#             cursor.execute(delete_query)
#             connection.commit()


#           #drop table
#           with connection.cursor() as cursor:   
#             drop_table_query = "DROP TABLE users;"
#             cursor.execute(drop_table_query)
#             connection.commit()
            
          #select all data from table
        with connection.cursor() as cursor:
            select_all_rows = "SELECT * FROM users"
            cursor.execute(select_all_rows)
            rows = cursor.fetchall()
            for row in rows:
                print(row)
            print("#" * 87)
            
    finally:
        connection.close()
    
except Exception as ex:
    print("Ошибка подключения")
    print(ex)

Удалось подключится к БД
#######################################################################################
Ошибка подключения
(1050, "Table 'users' already exists")